@import url('../css/fonts.css');
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

 :root {
    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    /* gradient color   */
    --sky: linear-gradient(120deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
    --norse: linear-gradient( #ec77ab 0%, #7873f5 100%);
    --wind: linear-gradient( #a8edea 0%, #fed6e3 100%);
    --aqua: linear-gradient( #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
    --perfect: linear-gradient( #E3FDF5 0%, #FFE6FA 100%);
}


/* ---------------- Global Classes ---------------*/

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.text-gray {
    color: var(--text-gray);
}

h1 {
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Lexend);
    cursor: pointer;
    background-color: #D6D6D6;
}

span {
    font-family: var(--Abel);
}

.container {
    margin: 0 5vw;
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
}


/* ------x------- Global Classes -------x-------*/


/* --------------- navbar ----------------- */

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font: size 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0
}

.nav .social i {
    padding: 0 .2rem;
}

.nav .social i:hover {
    color: #a1c4cf;
}


/*---------------Main------------*/

main {
    padding-top: 5rem;
}

main .tech-title {
    background: url(/img/tech1.png);
    background-size: cover;
    height: 130vh;
    display: flex;
    justify-content: center;
}

main .tech-title .tech-background {
    padding-top: 10rem;
    text-align: center;
    color: whitesmoke
}

main .tech-title h1,
h3 {
    margin: .3rem;
}

main .tech-title .btn {
    margin: 1.8rem;
    background: var(--sky);
}

main .tech-title .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white)
}


/*---x----------site title-------------*/


/*-------------- APPS --------------- */

.apps {
    margin: 0;
    background: url(../img/Abract01.png);
    background-size: contain;
    width: 100%;
    display: inline-block;
}

.apps .type {
    padding: 2rem 2rem;
}

.apps .btn {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px 0px pink;
    background: var(--sky) !important;
}

.grid {
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    align-items: center;
    width: 50vw;
}

.grid>article {
    border: 1px solid black;
    box-shadow: 2px 2px 15px 0px black;
    border-radius: 10px;
    text-align: center;
}

.grid>article:hover {
    transition: transform .1s ease-out;
    transform: translateY(5px);
}

.grid>article img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.grid>article span {
    font-family: var(--Livvic) !important;
}

.info {
    padding: 2px 20px 20px;
}

.grid>article .btn {
    margin-top: 2rem;
    background: linear-gradient( #FFC796 0%, #FF6B95 100%) !important;
    box-shadow: 2px 2px 15px 0px rgb(123, 218, 189);
}


/*------------------------- Softwares ------------------------ */


/*------------------------- Softwares ------------------------ */


/*----------------- FOOTER -------------*/

footer.footer {
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2 {
    color: white;
}

footer.footer .about-us h4 a {
    color: white;
}

footer.footer .newsletter .form-element {
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input {
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 80%;
}

footer.footer .newsletter .form-element span {
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i {
    color: white;
    padding: 0 .4rem;
    cursor: pointer;
}

footer.footer .rights {
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a {
    color: var(--white);
}

footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    color: var(--midnight);
}

footer.footer .move-up span:hover {
    color: white;
    cursor: pointer;
}


/*----x------------- FOOTER ----------x---*/

@media only screen and (max-width: 1130px) {
    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 881px) {
    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1087px) {
    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 794px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }
    .nav .toggle-collapse {
        display: initial;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid {
        grid-gap: 50px;
    }
}

@media only screen and (max-width: 520px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid>article {
        text-align: center;
    }
    footer.footer .container>div {
        padding: 1rem .10rem !important;
    }
    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }
    nav .toggle-collapse {
        width: 80% !important;
    }
    .grid {
        grid-gap: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid>article {
        text-align: center;
    }
    .grid {
        grid-gap: 50px;
    }
    footer.footer .container>div {
        padding: 1rem .10rem !important;
    }
    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }
    nav .toggle-collapse {
        width: 80% !important;
    }
}